<nav class="navbar navbar-default navbar-fixed-top">
<div class="container" style="width:100% !important">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <img alt="Link to Fafsa" src="images/fafsa logo.png" href="https://studentaid.ed.gov/sa/" style="height:4em"/>
        </div>
        <div id="navbar" style="margin:auto" class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                <li class="active"><a href="/#top">Home</a></li>
                <li><a href="before">Before Our App</a></li>
                <li><a href="/#myPersonalInfo">Personal Info</a></li>
                <li><a href="/#myEducation">Education</a></li>
                <li><a href="/#myFamily">Family</a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li><img alt="Link to Fafsa" src="images/fafsalogo.jpg" href="https://studentaid.ed.gov/sa/" style="height:4em"/></li>
            </ul>
            <a href="#openModal" style="padding-top: 6px; float: right; margin-right:10px; margin-top:2px;"><button class="btn btn-success">Learn about EFC and More!</button></a>
        </div>
    
</nav>
<div class="testdiv" style="z-index:9;margin:auto;width:92%" >
        <div class="row">
            <div class="col-sm-3" style="text-align: center;">
                <div style="float:left;" >
                    <i class="fa fa-exclamation-triangle" aria-hidden="true"></i>
                    You have actions you need to take!
                </div>
            </div>
            <div class="col-sm-3" style="text-align: center;">
                Total Loan Balance: <%= data['LOAN']['ffel_com'] %>
            </div>
            <div class="col-sm-3" style="text-align: center;">
                EFC: <%= data['USER']['efc'] %>
            </div>
            <div class="col-sm-3" style="text-align: center;">
                Logged in: Brock Erickson
            </div>
        </div>
    </div>