<nav class="navbar navbar-default navbar-fixed-top">
<div class="container" style="width:100% !important">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#">FAFSA Companion</a>
        </div>
        <div id="navbar" style="margin:auto" class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                <li class="active"><a href="#top">Home</a></li>
                <li><a href="#about">About</a></li>
                <li><a href="#contact">Contact</a></li>
                <li><a href="#myActionables">Actionables</a></li>
                <li><a href="#myPersonalInfo">PersonalInfo</a></li>
                <li><a href="#myEducation">Education</a></li>
                <li><a href="#myLoans">Loans</a></li>
                <li><a href="#myFamily">Family</a></li>
                <li><a href="#myBudget">Budget</a></li>
                <li><a href="#myTaxes">Taxes</a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li><img alt="Link to Fafsa" src="images/fafsalogo.jpg" href="https://studentaid.ed.gov/sa/" style="height:4em"/></li>
            </ul>
        </div>
</nav>