<div class="columndiv" id="myFamily">
<span >
<h1 style="text-align:center">Family</h1>
<div class="testdiv">
<div class="flex-item-1"><img src="http://images.all-free-download.com/images/graphiclarge/man_silhouette_clip_art_9510.jpg" style="max-width:80%;
max-height:80%; display:block; margin:auto; margin-top:.2em; border-radius:20px"/>
<p style="text-align:center; margin-top:.2em">Justin Gardner</p>
<p style="text-align:center; margin-top:.2em">High School: X</p>
<p style="text-align:center; margin-top:.2em">College: X</p>
<p style="text-align:center; margin-top:.2em">Income:$1000</p>
</div>
<div class="flex-item-1"><img src="http://images.all-free-download.com/images/graphiclarge/man_silhouette_clip_art_9510.jpg" style="max-width:80%;
max-height:80%; display:block; margin:auto; margin-top:.2em; border-radius:20px"/>
<p style="text-align:center; margin-top:.2em">Sibling 1</p>
<p style="text-align:center; margin-top:.2em">High School: X</p>
<p style="text-align:center; margin-top:.2em">College: X</p>
<p style="text-align:center; margin-top:.2em">Income:$1000</p>
</div>
<div class="flex-item-1"><img src="http://images.all-free-download.com/images/graphiclarge/man_silhouette_clip_art_9510.jpg" style="max-width:80%;
max-height:80%; display:block; margin:auto; margin-top:.2em; border-radius:20px"/>

<p style="text-align:center; margin-top:.2em">Parents</p>
<p style="text-align:center; margin-top:.2em">High School: X</p>
<p style="text-align:center; margin-top:.2em">College: X</p>
<p style="text-align:center; margin-top:.2em">Income:$100000</p>
</div>
</div>
</span>
<span>
<h1 style="text-align:center">Family</h1>
<div class="testdiv">
<div class="flex-item-1"><img src="http://images.all-free-download.com/images/graphiclarge/man_silhouette_clip_art_9510.jpg" style="max-width:80%;
max-height:80%; display:block; margin:auto; margin-top:.2em; border-radius:20px"/>
<p style="text-align:center; margin-top:.2em">Justin Gardner</p>
<p style="text-align:center; margin-top:.2em">High School: X</p>
<p style="text-align:center; margin-top:.2em">College: X</p>
<p style="text-align:center; margin-top:.2em">Income:$1000</p>
</div>
<div class="flex-item-1"><img src="http://images.all-free-download.com/images/graphiclarge/man_silhouette_clip_art_9510.jpg" style="max-width:80%;
max-height:80%; display:block; margin:auto; margin-top:.2em; border-radius:20px"/>
<p style="text-align:center; margin-top:.2em">Sibling 1</p>
<p style="text-align:center; margin-top:.2em">High School: X</p>
<p style="text-align:center; margin-top:.2em">College: X</p>
<p style="text-align:center; margin-top:.2em">Income:$1000</p>
</div>
<div class="flex-item-1"><img src="http://images.all-free-download.com/images/graphiclarge/man_silhouette_clip_art_9510.jpg" style="max-width:80%;
max-height:80%; display:block; margin:auto; margin-top:.2em; border-radius:20px"/>

<p style="text-align:center; margin-top:.2em">Parents</p>
<p style="text-align:center; margin-top:.2em">High School: X</p>
<p style="text-align:center; margin-top:.2em">College: X</p>
<p style="text-align:center; margin-top:.2em">Income:$100000</p>
</div>
</div>
</span>
</div>